section {
	height: 100%;
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	h1 {
		font-size: 30px;
	}

	p {
		font-size: 14px;
		margin: 15px 0;
	}
}
