$white: #ffffff;
$blue: #0000ff;
$dark-blue-accent: #000080;
$light-blue-accent: #add8e6;
$app-background: rgb(30, 30, 30);
$app-content-container-background: rgb(50, 50, 50);
$app-content-container-line: rgb(100, 100, 100);
$app-content-container-border-radius: 12px;
