@use '../../variables.scss' as *;

div {
	p {
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: 10px;
	}

	.progress-bar {
		background: transparent;
		border: 2px solid $app-content-container-line;
		height: 30px;
		border-radius: 12px;
		overflow: hidden;
		width: 100%;
		position: relative;

		> div {
			display: flex;
			justify-content: center;
			align-items: center;
			background: $white;
			height: 100%;
			transition: width 0.3s ease;

			> span {
				color: $black;
			}
		}
	}
}
